  
<% chirps.forEach(function(chirp){%>
  <div class="one-chirp border-radius-10">
    <div class="row">
      <div class="col-sm-2">
        <img src="images/birds/bird<%= chirp.id %>.png" class="img-responsive" />
      </div>
      <div class="col-sm-10">
        <div class="margin-top-20">
          <%= chirp.chirp_text %>
        </div>
        <div class="margin-top-10 txt-right">
          <a href="/edit/<%= chirp.id %>" class="btn btn-primary">Edit Chirp</a>
        </div>
      </div>
    </div>
  </div>
<%}) %>  


