<% include partials/header.ejs %>

<div class="container margin-top-20">
  <div class="logo border-radius-10">
    Chirp! The Next Big Thang
  </div>
</div>

<% include ./newChirp.ejs %>

<div class="container margin-top-10">

<% include ./chirp.ejs %>

</div>

<div id="instructions-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">How to Use</h4>
      </div>
      <div class="modal-body">
        To get started, hold down shift and type "CHIRP". Hold shift and type "NAH" if you want to cancel your chirp.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cool Beans</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% include partials/footer.ejs %>


