<div class="container margin-top-10">
  <div id="chirp-wrapper" class="border-radius-10">
    <form action="/create" method="post">
      <div>
        <textarea id="chirp-text" name="chirp_text" class="form-control" placeholder="You can chirp here. Make sure it's less than 140 characters!"></textarea>
      </div>
      <div class="margin-top-10 txt-right">
        <button id="cancel-chirp-button" type="button" class="btn btn-default margin-right-10">Don't Chirp</button>
        <button type="submit" class="btn btn-primary">Chirp!</button>
      </div>
    </form>
  </div>
</div>